<h1>Job Dashboard</h1>

{{#collection Jobba.JobsCollectionView contentBinding="Jobba.jobListController" itemClass="job"}}
  <h2>{{content.title}} - {{content.details}}</h2>
  {{#each content.steps class="steps rounded-corners" itemClass="step"}}
    {{#view Jobba.StepView classBinding="isCurrentStep isActionable"}}
      {{name}}
      {{#if isActionable}}
        {{#view SC.Button classBinding="isActive" action="completeStep"}}
          Done
        {{/view}}
      {{/if}}
    {{/view}}
  {{/each}}
{{/collection}}
